; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init)

; Listen on the local interface over TCP (5555), UDP (5555)
; (5556)
(let [host "0.0.0.0"]
  (udp-server {:host host})
  (tcp-server {:host host})
)

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(def write-influxdb-db1 (influxdb {
  :version :0.9
  :scheme "http"
  :host "influx"
  :username "root"
  :password "root"
  :port "8086"
  :db "db1"
  :tag-fields #{:db1_v1 :db1_v2}
  })
)

(def write-influxdb-db2 (influxdb {
  :version :0.9
  :scheme "http"
  :host "influx"
  :username "root"
  :password "root"
  :port "8086"
  :db "db2"
  :tag-fields #{:db2_v1 :db2_v2}
  })
)

(let [index (index)]

  ;Inbound events will be passed to the functions that come after streams...
  (streams
    (default :ttl 60
    index

    (where (not (tagged "db2"))
        (batch 9000 10 write-influxdb-db1)
    )

    (where (tagged "db2")
        (batch 9000 10 write-influxdb-db2)
    )

    ;Log everything to the log file defined above in logging/init...
    ;Commenting it out since we don't need it right now, but it's nice to
    ;have at hand in case we need to debug things later:
    #(info %)
    )
  )
)
